<!-- 
   Edit user profile template.
   The extends tag tells the template engine that this template “extends” another template.
   The block tag tells the template engine that a child template override those portions of the base template.
-->
{% extends 'base.html' %}
{% block bodyblock %}
<div class="container rounded bg-white mt-5 mb-5">
   <div class="row">
      <div class="col-md-3 border-right">
         <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" src="{{current_user.avatar(128)}}" width="90"><span class="font-weight-bold">{{current_user.username}}</span><span class="text-black-50">{{current_user.email}}</span><span>Germany</span></div>
      </div>
      <div class="col-md-5 border-right">
         <form action="" method="POST">
            <div class="p-3 py-5">
               <div class="d-flex justify-content-between align-items-center mb-3">
                  <h6 class="text-right">Edit your profile</h6>
               </div>
               <div class="row mt-2">
                  <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control" placeholder="first name" value="John"></div>
                  <div class="col-md-6"><label class="labels">Surname</label><input type="text" class="form-control" value="Doe" placeholder="Doe"></div>
               </div>
               <div class="row mt-3">
                  <div class="col-md-12">
                     <label class="labels">About me</label>
                     <textarea name="about_me" type="text" class="form-control" placeholder="headline" id="exampleFormControlTextarea1">{{current_user.about_me}}</textarea>
                  </div>
               </div>
               <div class="row mt-3">
                  <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" placeholder="country" value="Germany"></div>
                  <div class="col-md-6"><label class="labels">State/Region</label><input type="text" class="form-control" value="Frankfurt" placeholder="state"></div>
               </div>
               <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save Profile</button></div>
            </div>
         </form>
      </div>
      <div class="col-md-4">
         <div class="p-3 py-5">
            <div class="d-flex justify-content-between align-items-center experience"><span>Edit Experience</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Experience</span></div>
            <div class="d-flex flex-row mt-3 exp-container">
               <img src="https://i.imgur.com/azSfBM3.png" width="45" height="45">
               <div class="work-experience ml-1"><span class="font-weight-bold d-block">Senior UI/UX Designer</span><span class="d-block text-black-50 labels">Twitter Inc.</span><span class="d-block text-black-50 labels">March,2017 - May 2020</span></div>
            </div>
            <hr>
            <div class="d-flex flex-row mt-3 exp-container">
               <img src="https://img.icons8.com/color/100/000000/facebook.png" width="45" height="45">
               <div class="work-experience ml-1"><span class="font-weight-bold d-block">Senior UI/UX Designer</span><span class="d-block text-black-50 labels">Facebook Inc.</span><span class="d-block text-black-50 labels">March,2017 - May 2020</span></div>
            </div>
            <hr>
            <div class="d-flex flex-row mt-3 exp-container">
               <img src="https://img.icons8.com/color/50/000000/google-logo.png" width="45" height="45">
               <div class="work-experience ml-1"><span class="font-weight-bold d-block">UI/UX Designer</span><span class="d-block text-black-50 labels">Google Inc.</span><span class="d-block text-black-50 labels">March,2017 - May 2020</span></div>
            </div>
         </div>
      </div>
   </div>
</div>

{% endblock %}